html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
}

#root {
  height: 100%;
  
}

#containerEnter {
  height: 100%;
  width: 100%;
  background-image: url('./images/wallpaper.jpeg');
  background-repeat: no-repeat;
}

.test {
  background-image: url('./images/orbit.png');
  width: 64px;
  height: 64px
}